<div class="row mb-md-3 fadein">
    <div class="col-lg-8 offset-lg-2">
        <h2 class="text-center mb-3">About Me</h2>
        <%- include('personal-desc') %>
    </div>
</div>
<div id="portfolio" class="spacer"></div>