<div class="row mb-md-3 fadein">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center mb-5">Contact Me</h2>
        <div class="row text-center">
            <div class="col">
                <p>Email Address: <a href="mailto:dwidmer99@gmail.com">dwidmer99@gmail.com</a></p>
                <p>Phone Number: 516-468-1403</p>
            </div>
        </div>
    </div>
</div>