<div class="splash d-flex flex-column justify-content-center mb-0">
    <div class="row mb-md-3">
        <div class="col-lg-6 offset-lg-3">
            <div class="row mx-auto">
                <div class="col-md-auto col-12">
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid rounded-3 fadein" src="image/20210613_113112.jpeg" alt="">
                    </div>
                </div>
                <div class="col mt-3 d-flex flex-column justify-content-center align-items-end">
                    <p class="h3 mb-0 fadein">Hi, I'm</p>
                    <p class="h1 mb-0 fadein">Derek Widmer</p>
                    <p class="lead fadein">A Full-Stack Web Developer</p>
                </div>
            </div>
        </div>
    </div>
</div>