<p>
    I am a motivated, enthusiastic and fast-learning Full-Stack Web Developer with over 5 years of experience
    working in the IT sector with Nassau BOCES. I have a passion for web development and have dedicated myself to
    expanding on the strong programming base that I established at Stony Brook University, where I graduated Magna Cum
    Laude in 2021.
</p>
<p>
    I am currently searching for a job as a Full-Stack Web Developer around the area of Long Island, New York, with
    immediate availability.
</p>
<p>
    In my free time, my hobbies include photography, videography, graphic design, soccer and hiking.
</p>