<p class="fadein">
    I am a motivated, enthusiastic and fast-learning Software Engineer currently working part-time for Visualum as a
    Front-End Engineer, building an education and learning application with React. I have over 5 years of experience
    working in the IT sector with <a href="https://www.nassauboces.org/" target="_blank">Nassau BOCES</a>, where I
    worked as a help desk technician and a networking team member. I have a passion for software engineering and have
    dedicated myself to expanding on the strong programming base that I established at Stony Brook University, where I
    graduated Magna Cum Laude in 2021.
</p>
<p class="fadein">
    I am currently searching for a job as a Software Engineer in the New York City Metropolitan Area, with
    immediate availability.
</p>
<p class="fadein">
    In my free time, my hobbies include photography, filmmaking, graphic design, soccer and hiking.
</p>