<div class="row mb-md-3 fadein">
    <div class="col-lg-8 offset-lg-2">
        <h2 class="text-center mb-4">My Portfolio</h2>
        <!-- Github card -->
        <div class="rounded-3 p-3 project-card mb-3" id="github-card">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex align-items-center">
                    <img src="https://img.icons8.com/material-outlined/192/000000/github.png"
                        class="mb-1 me-1 tech-icon-black" width="50" height="50" />
                    <a class="btn project-link" data-bs-toggle="collapse" href="#githubCollapse" role="button">
                        <h1>GitHub</h1>
                    </a>
                </div>
                <div class="collapse" id="githubCollapse">
                    <div class="row">
                        <div class="col-12">
                            <p class="p-3 text-center">
                                My smaller projects can be found here! Feel free to take a look!
                            </p>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <a class="btn btn-primary" href="https://github.com/derekwidmer?tab=repositories"
                                target="_blank">
                                Visit GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ColorApp card -->
        <div class="rounded-3 p-3 project-card mb-3" id="colorapp-card">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex align-items-center">
                    <h1 class="color-logo">C</h1>
                    <a class="btn project-link" data-bs-toggle="collapse" href="#colorAppCollapse" role="button">
                        <h1>ColorApp</h1>
                    </a>
                </div>
                <div class="collapse" id="colorAppCollapse">
                    <div class="row">
                        <div class="col-12">
                            <p class="p-3 text-center">
                                A React Color Palette App.
                            </p>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <a class="btn btn-primary" href="https://github.com/derekwidmer/ColorPaletteApp"
                                target="_blank">
                                Visit the GitHub Repo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- YelpCamp -->
        <div class="rounded-3 p-3 project-card" id="yelpcamp-card">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex align-items-center">
                    <img src="image/icons/yelpcamp-icon.png" class="mb-1 me-1" width="50" height="50" />
                    <a class="btn project-link" data-bs-toggle="collapse" href="#yelpCampCollapse" role="button">
                        <h1>YelpCamp</h1>
                    </a>
                </div>
                <div class="collapse" id="yelpCampCollapse">
                    <div class="row">
                        <div class="col-12">
                            <p class="p-3 text-center">
                                A Yelp-inspired site meant for reviewing campsites.
                            </p>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <a class="btn btn-primary" href="https://github.com/derekwidmer/YelpCamp" target="_blank">
                                Visit the GitHub Repo
                            </a>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <a class="btn btn-primary" href="http://yelpcamp-dwidmer.herokuapp.com/" target="_blank">
                                Visit the Live Site
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const cards = document.getElementsByClassName('project-card')
    console.log(cards)
    for (i = 0; i < cards.length; i++) {
        let c = cards[i];
        c.addEventListener("click", (e) => {
            let mainLink = c.querySelector(".project-link")
            const isTextSelected = window.getSelection().toString();
            if (!isTextSelected) {
                mainLink.click();
            }
        })
    }
</script>