<div class="row mb-md-3 fadein">
    <div class="col-lg-8 offset-lg-2">
        <h2 class="text-center mb-4">My Portfolio</h2>
        <!-- YelpCamp Card -->
        <div class="rounded-3 p-3 project-card mb-3" id="yelpcamp-card">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex align-items-center">
                    <img class="mb-1 me-1" src="image/icons/yelpcamp-icon.png" alt="" width="35" height="35">
                    <a class="btn project-link" data-bs-toggle="collapse" href="#yelpCampCollapse" role="button">
                        <h1>YelpCamp</h1>
                    </a>
                </div>
                <div class="collapse" id="yelpCampCollapse">
                    <div class="row">
                        <div class="col-12">
                            <p class="p-3">
                                This is a project I worked on as a part of the Colt Steele Web Developer
                                Bootcamp course. It helped form my base for Node development, as well as expanded my
                                knowledge of Express and MongoDB. The site is fully functioning on the front and
                                back-end. Feel free to give it a try!
                                <br>
                                Note: Map functionality does not display on Safari. Use Chrome, Firefox,
                                Edge, etc. for full function.
                            </p>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <a class="btn btn-primary" href="https://yelpcamp-dwidmer.herokuapp.com" target="_blank">
                                Visit YelpCamp
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Github card -->
        <div class="rounded-3 p-3 project-card" id="github-card">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex align-items-center">
                    <img src="https://img.icons8.com/material-outlined/192/000000/github.png"
                        class="mb-1 me-1 tech-icon-black" width="50" height="50" />
                    <a class="btn project-link" data-bs-toggle="collapse" href="#githubCollapse" role="button">
                        <h1>GitHub</h1>
                    </a>
                </div>
                <div class="collapse" id="githubCollapse">
                    <div class="row">
                        <div class="col-12">
                            <p class="p-3 text-center">
                                My smaller projects can be found here! Feel free to take a look!
                            </p>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <a class="btn btn-primary" href="https://github.com/derekwidmer?tab=repositories"
                                target="_blank">
                                Visit GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const cards = document.getElementsByClassName('project-card')
    console.log(cards)
    for (i = 0; i < cards.length; i++) {
        let c = cards[i];
        c.addEventListener("click", (e) => {
            let mainLink = c.querySelector(".project-link")
            const isTextSelected = window.getSelection().toString();
            if (!isTextSelected) {
                mainLink.click();
            }
        })
    }
</script>