<div class="rounded-3 p-3 project-card mb-3">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex align-items-center">
            <%- title %>
            <div class="row">
                <div class="col-12">
                    <%- paragraphContent %>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <%- button %>
                </div>
            </div>
        </div>
    </div>
</div>