<div class="row mb-md-3">
    <div class="col-lg-8 offset-lg-2">
        <h2 class="text-center mb-5 fadein">Resume</h2>
        <div class="row">
            <div class="col-lg-6 mb-3 fadein">
                <h4 class="text-center">Technologies</h4>
                <div class="d-flex justify-content-center flex-wrap">
                    <div class="tech-container">
                        <a href="https://www.javascript.com/" target="_blank">
                            <img class="tech-icon tech-icon-black p-1"
                                src="https://img.icons8.com/ios/250/000000/javascript--v1.png" />
                        </a>
                    </div>
                    <div class="tech-container">
                        <a href="https://nodejs.org/en/" target="_blank">
                            <img class="tech-icon" src="https://img.icons8.com/color/256/000000/nodejs.png" />
                        </a>
                    </div>
                    <div class="tech-container">
                        <a href="https://expressjs.com/" target="_blank">
                            <img src="https://www.vectorlogo.zone/logos/expressjs/expressjs-icon.svg" alt=""
                                class="tech-icon tech-icon-black p-1">
                        </a>
                    </div>
                    <div class="tech-container">
                        <a href="https://www.mongodb.com/" target="_blank">
                            <img class="tech-icon" src="https://img.icons8.com/color/240/000000/mongodb.png" />
                        </a>
                    </div>
                    <div class="tech-container">
                        <a href="https://www.python.org/" target="_blank">
                            <img class="tech-icon" src="https://img.icons8.com/color/240/000000/python--v1.png" />
                        </a>
                    </div>
                    <div class="tech-container">
                        <a href="https://www.mysql.com/" target="_blank">
                            <img class="tech-icon tech-icon-black"
                                src="https://img.icons8.com/ios-filled/250/000000/mysql-logo.png" />
                        </a>
                    </div>
                    <div class="tech-container">
                        <a href="https://www.java.com/en/" target="_blank">
                            <img class="tech-icon tech-icon-black"
                                src="https://img.icons8.com/material-outlined/192/000000/java-coffee-cup-logo.png" />
                        </a>
                    </div>
                    <div class="tech-container">
                        <a href="https://ubuntu.com/" target="_blank">
                            <img class="tech-icon" src="https://img.icons8.com/color/96/000000/ubuntu--v1.png" />
                        </a>
                    </div>
                </div>
                <div>
                    <h4 class="text-center my-3">Other Skills</h4>
                    <div class="row">
                        <div class="col text-center">
                            <p>Computer Networking</p>
                            <p>Microsoft Office</p>
                            <p>Adobe Photoshop & Illustrator</p>
                            <p>Fluent in English & Spanish</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3 fadein">
                <h4 class="text-center mb-3">Experience</h4>
                <div class="row">
                    <div class="col d-flex flex-column align-items-center justify-content-center">
                        <div class="text-center">
                            <h5 class="mb-1">Stony Brook University</h5>
                            <p class="mb-0">Bachelor's of Science: Information Systems</p>
                            <p class="mb-3">2017-2021</p>
                        </div>
                        <div class="text-center">
                            <h5 class="mb-1">Nassau BOCES</h5>
                            <p class="mb-0">IT Technician and Network Team Member</p>
                            <p class="mb-3">Summers and Winters - 2015-2021</p>
                        </div>
                        <div class="text-center">
                            <h5 class="mb-1">Web Developer Bootcamp Course</h5>
                            <p class="mb-0">Administered by Colt Steele on Udemy</p>
                            <p class="mb-3">May-June 2021</p>
                        </div>
                        <div class="text-center">
                            <h5 class="mb-1">The Modern React Bootcamp</h5>
                            <p class="mb-0">Administered by Colt Steele on Udemy</p>
                            <p class="mb-3">July 2021-Present</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>