<% layout('layouts/boilerplate') %>

<div class="container d-flex flex-column">
    <%- include('partials/intro') %>
    <%- include('partials/about') %>
    <div class="spacer"></div>
    <%- include('partials/portfolio') %>
</div>