<% layout('layouts/boilerplate') %>

<div class="container d-flex flex-column">
    <!-- Intro section -->
    <%- include('partials/intro') %>
    <div id="about" class="spacer"></div>
    <!-- About section -->
    <%- include('partials/about') %>
    <!-- Portfolio section -->
    <%- include('partials/portfolio') %>
</div>