<% layout('layouts/boilerplate') %>

<div class="container d-flex flex-column">
    <div class="row">
        <div class="col-auto">
            <img class="img-fluid" src="image/20210613_113112.jpeg" alt="">
        </div>
        <div class="col-md-6 col mt-3 mt-lg-0">
            <p class="h1">Derek Widmer</p>
            <p>
                Derek is a ...
            </p>
        </div>
    </div>



</div>