<% layout('layouts/boilerplate') %>

<div class="container d-flex flex-column">
    <div class="row mb-md-5 mb-2">
        <div class="col-lg-8 offset-lg-2">
            <div class="row mx-auto">
                <div class="col-md-auto col-12">
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid rounded-3" src="image/20210613_113112.jpeg" alt="">
                    </div>
                </div>
                <div class="col mt-3 d-flex flex-column justify-content-center">
                    <p class="h1">DEREK WIDMER</p>
                    <%- include('partials/personal-desc') %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3 mb-md-4 mb-5">
            <%- include('partials/links') %>
        </div>
    </div>

</div>