body {
    background-color: rgb(33, 38, 58);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

h1,h2,h3,h4,h5,h6,p {
    color: rgb(243, 243, 243);
}

img {
    max-width: auto !important;
    max-height: 400px !important;
}

.navbar-dark {
    background-color: rgb(33, 38, 58) !important;
}

.navbar-brand {
    font-weight: 700;
}

svg {
    filter: invert(1)
}

.link-icon {
    margin: 0 10px;
}

.site-img {
    height: 240px;
    width: auto;
    cursor: pointer;
}

.site-link h1:hover {
    color:cornflowerblue !important;
}

.project-div {
    background-color: rgb(29, 34, 53);
    transition: all 0.25s ease-in-out;
}

.project-div:hover {
    /* box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.1); */
    transform: translateY(-5px);
}
.spacer {
    height: 100px;
}

.fadein {
    opacity: 0;
}

.hidden {
    opacity: 0;
}

.hideme {
    height: 100%;
}