body {
    background-color: rgb(33, 38, 58);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

h1,h2,h3,h4,h5,h6,p {
    color: rgb(243, 243, 243);
}

img {
    max-width: auto !important;
    max-height: 400px !important;
}

.navbar-dark {
    background-color: rgb(33, 38, 58) !important;
}

.navbar-brand {
    font-weight: 700;
}

svg {
    filter: invert(1)
}

.link-icon {
    margin: 0 10px;
}

.site-img {
    height: 240px;
    width: auto;
}

.site-link h1:hover {
    color:cornflowerblue !important;
}

.project-card {
    background-color: rgb(29, 34, 53);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.project-card:hover {
    /* box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.1); */
    transform: translateY(-5px);
}
.spacer {
    height: 80px;
}

.intro-section {
    height: 70vh;
}

.fadein {
    opacity: 0;
}

a {
    color: rgb(117, 204, 255);
}
a:hover {
    color:rgb(181, 223, 247)
}

.splash {
    height: 80vh;
}